

<!--
<input #dato1 placeholder="Dato 1" />
<input #dato2 placeholder="Dato 2" />
<input #dato3 placeholder="Dato 3" />
<input #dato4 placeholder="Dato 4" />
<input #dato5 placeholder="Dato 5" />

<button (click)="miFuncionRefencia(dato1.value, dato2.value, dato3.value, dato4.value, dato5.value)">Enviar</button>

<hr>

<input [(ngModel)]="param1" placeholder="Dato 1" />
<input [(ngModel)]="param2" placeholder="Dato 2" />
<input [(ngModel)]="param3" placeholder="Dato 3" />
<input [(ngModel)]="param4" placeholder="Dato 4" />
<input [(ngModel)]="param5" placeholder="Dato 5" />

<button (click)="miFuncionNgModel()">Enviar</button>
-->

<hr>

<input [formControl]="nombre" placeholder="ingrese un valor" />
<p>Valor: {{nombre.value}}</p>
<p>Errores: {{nombre.errors | json}}</p>
<p>Tocado: {{nombre.touched}}</p>
<p>No tocado: {{nombre.untouched}}</p>
<p>Original: {{nombre.pristine}}</p>
<p>Modificado: {{nombre.dirty}}</p>

<hr>

<form [formGroup]="miFormulario">
  <input formControlName="nombres" placeholder="Nombres" />
  <span *ngIf="miFormulario.controls?.['nombres']?.errors">Incorrecto</span>
  <br>

  <input formControlName="apellidos" placeholder="Apellidos" />
  <span *ngIf="miFormulario.controls?.['apellidos']?.errors">Incorrecto</span>
  <br>

  <input formControlName="edad" placeholder="Edad" type="number" />
  <span *ngIf="miFormulario.controls?.['edad']?.errors">Incorrecto</span>
  <br>

  <input formControlName="correo" placeholder="Correo" type="email" />
  <span *ngIf="miFormulario.controls?.['correo']?.errors">Incorrecto</span>
  <br>
</form>

<p>Válido: {{miFormulario.valid}}</p>

<router-outlet></router-outlet>
